doctype html
html(lang="en").h-100
  head
    title OctoPad
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="style.scss"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )

  body.d-flex.flex-column.h-100
    .container
      .row.align-items-center.p-5
        .col-lg-5.p-5#image
          img.img-fluid.rounded-circle(src="./assets/isabel-galvez-i54owgDjXeY-unsplash.jpg")

        .col-lg-7.p-3#content
          h1.text-center.text-lg-left.display-1
            | Octo&shy;Pad

          p.lead
            | We are two consultants. We offer inhouse consultancy.


          p.lead Shape Up
          p We analyze your website 

    footer.footer.mt-auto.p-5.bg-dark.text-white
      .container: .row
        .col-lg-4
          dl
            dt Contact us
            dd bob@octopad.nl
            dd +31 653 554 987

        .col-lg-4
          dl
            dt Fana Mehari
            dd: a(href="https://jewiet.com") jewiet.com
            dd fana@octopad.nl
            dd +31 638216166

        .col-lg-4
          dl
            dt Bob Aalsma
            dd: a(href="http://www.aalsmacons.nl") aalsmacons.nl
